body{
    background-color: rgb(251, 255, 0);
}
h1{
    font-size: 60px;
    color: rgb(75, 74, 17);
    text-align: center;
    border: 20px groove yellow;
    
}
p{
    font-size: 30px;
    color: aquamarine(180, 180, 180);
    text-align: justify;

}
.cabecalho{
    background-color: rgb(173, 161, 47);
    display: flex;
}

.logochoche{
    width: 60px;

}
.pouvinhoazul{
    width: 200px;
    border: 20px groove rgb(63, 53, 35);
}



 
