body{
    background: palevioletred(100, 150, 150)
}
h1{
    font-size: 60px;
    color: rgb(254, 218, 255);
    text-align: center;
}
p{
    font-size: 30px;
    color: aquamarine(180, 180, 180);
    text-align: justify;

}
  body{
     background-color: deeppink;
  }


