body{
    background-color: rgb(120, 159, 243);
}
h1{
    font-size: 60px;
    color: rgb(0, 26, 255);
    text-align: center;
}
p{
    font-size: 30px;
    color: aquamarine(180, 180, 180);
    text-align: justify;

}
.cabecalho{
    background-color: rgb(255, 255, 255);
    display: flex;
}

.logochoche{
    width: 60px;
}